:root {
    --background-color: #191414;
    --primary-acent: #1DB954;
    --secondary-acent: #FFFFFF;
    --body-text: #B3B3B3;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden; /* Prevents the whole window from scrolling */
    
    display: grid;
    
    grid-template-columns: 1fr 5fr; 
    
    grid-template-rows: 180px 1fr; 
    
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

.header {
    grid-area: header;
    background-color: var(--secondary-acent);

}

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-acent);
}

.main-content {
    grid-area: main-content;
    background-color: var(--background-color);
    overflow-y: auto; 
}